.App {
  text-align: center;
  width: 25%;
  height: 35rem;
  border: solid;
  margin: 20px;
}

.navbar {
  background-color: darkblue;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
}

.btn-save {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  border: solid;
  text-align: left;
}

.item1 {
  grid-area: item1;
  text-align: left;
  margin-left: 20px;
  /* vertical-align: super; */
}

.item2 {
  grid-area: item2;
  text-align: left;
  margin-left: 20px;
  /* vertical-align: super; */
}

.item3 {
  grid-area: item3;
  text-align: right;
  /* margin-right: 20px; */
  /* vertical-align: text-bottom; */
  
}

.item4 {
  grid-area: item4;
  text-align: right;
  /* margin-right: 20px; */
  /* vertical-align: text-bottom; */
  
}

.search{
  display: flex;
 justify-content: start;
 padding: 10px;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
}